<form class="formContainer" #patientForm="ngForm" (ngSubmit)="onSubmit()">
  <mat-card>
    <mat-expansion-panel [expanded]="!patient.LastUpdate" (opened)="panelOpenState = true"
      (closed)="panelOpenState = false">
      <mat-expansion-panel-header>
        <mat-panel-title *ngIf="!panelOpenState">
          {{patientFormat.displayName(patient)}} {{patientFormat.displayAge(patient)}}
          {{patientFormat.displaySex(patient)}}
        </mat-panel-title>
        <mat-panel-description *ngIf="!panelOpenState">
          <span class="stretch"></span>
          <span *ngIf="patient.Telephone" mat-icon-button>
            <mat-icon>phone</mat-icon>
          </span>
          <span *ngIf="patient.Mobile" mat-icon-button>
            <mat-icon>phone_android</mat-icon>
          </span>
          <span *ngIf="patient.Address" mat-icon-button>
            <mat-icon>home</mat-icon>
          </span>
        </mat-panel-description>
      </mat-expansion-panel-header>
      <ng-template matExpansionPanelContent>
        <div class="row">
          <mat-form-field class="lastName">
            <input matInput autofocus ngController="patientForm" type="text" placeholder="Επώνυμο"
              [(ngModel)]="patient.LastName" name="lastName" required />
          </mat-form-field>
          <mat-form-field class="firstName">
            <input matInput ngController="patientForm" type="text" placeholder="Όνομα" [(ngModel)]="patient.FirstName"
              name="firstName" />
          </mat-form-field>
          <mat-radio-group ngController="patientForm" aria-label="Φύλο" class="sex" [(ngModel)]="patient.Sex"
            name="sex">
            <mat-radio-button [value]="false">♀Θήλυ</mat-radio-button>
            <mat-radio-button [value]="true">♂Άρρεν</mat-radio-button>
          </mat-radio-group>
        </div>
        <div class="row">
          <mat-form-field class="amka">
            <input matInput ngController="patientForm" placeholder="Α.Μ.Κ.Α." type="tel" [(ngModel)]="patient.Amka"
              name="amka" #amka="ngModel" (change)="amkaChanged(amka.errors)" appAmkaValidator [maxLength]="11"
              [minLength]="11" />
            <mat-error *ngIf="amka.hasError('notValidAmka')">
              Παρακαλώ ελέγξτε τον Α.Μ.Κ.Α.
            </mat-error>
          </mat-form-field>
          <mat-form-field class="birthDate">
            <input matInput ngController="patientForm" [matDatepicker]="picker" [max]="Today()"
              placeholder="Ημερομηνία Γέννησης" [(ngModel)]="patient.Birthdate" name="birthDate" #birthdate="ngModel"
              appBirthdateValidator />
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
            <mat-hint align="start" *ngIf="Age()">{{ Age() }} Ετών</mat-hint>
            <mat-error>
              Παρακαλώ ελέγξτε την ημερομηνία
            </mat-error>
          </mat-form-field>
        </div>
        <div class="row">
          <mat-form-field class="telephone">
            <input matInput ngController="patientForm" placeholder="Τηλέφωνο" type="tel" [(ngModel)]="patient.Telephone"
              name="telephone" #telephone="ngModel" appTelephoneValidator />
            <mat-error *ngIf="telephone.hasError('notValidTelephone')">
              Παρακαλώ ελέγξτε τον αριθμό τηλεφώνου
            </mat-error>
          </mat-form-field>
          <mat-form-field class="mobile">
            <input matInput ngController="patientForm" placeholder="Κινητό" type="tel" [(ngModel)]="patient.Mobile"
              name="mobile" #mobile="ngModel" appMobileValidator />
            <mat-error *ngIf="mobile.hasError('notValidMobile')">
              Παρακαλώ ελέγξτε τον αριθμό κινητού
            </mat-error>
          </mat-form-field>
        </div>
        <div class="row">
          <mat-form-field class="address">
            <textarea matInput ngController="patientForm" placeholder="Διεύθυνση" [(ngModel)]="patient.Address"
              name="address"></textarea>
          </mat-form-field>
        </div>
      </ng-template>
    </mat-expansion-panel>
    <mat-card>

      <div class="row">
        <mat-form-field class="chipLine">
          <mat-chip-list #diagnosesList aria-label="Διαγνώσεις" ngController="patientForm">
            <mat-chip *ngFor="let Diagnosis of patient.Diagnoses" disableRipple="true" removable="true"
              (removed)="removeDiagnosis(Diagnosis)" color="primary" selected>
              {{Diagnosis}}
              <mat-icon matChipRemove>cancel</mat-icon>
            </mat-chip>
            <input [matChipInputFor]="diagnosesList" placeholder="Διαγνώσεις..." matChipInputAddOnBlur="true"
              [matChipInputSeparatorKeyCodes]="[13,188]" (matChipInputTokenEnd)="addDiagnosis($event)">
          </mat-chip-list>
        </mat-form-field>
      </div>

      <div class="row">
        <mat-form-field class="chipLine">
          <mat-chip-list #allergiesList aria-label="Αλλεργίες" ngController="patientForm">
            <mat-chip *ngFor="let Allergy of patient.Allergies" disableRipple="true" removable="true"
              (removed)="removeAllergy(Allergy)" color="warn" selected>
              {{Allergy}}
              <mat-icon matChipRemove>cancel</mat-icon>
            </mat-chip>
            <input [matChipInputFor]="allergiesList" placeholder="Αλλεργίες..." matChipInputAddOnBlur="true"
              [matChipInputSeparatorKeyCodes]="[13,188]" (matChipInputTokenEnd)="addAllergies($event)">
          </mat-chip-list>
        </mat-form-field>
      </div>

      <div class="row">
        <mat-form-field class="chipLine">
          <mat-chip-list #surgeriesList aria-label="Χειρουργεία" ngController="patientForm">
            <mat-chip *ngFor="let Surgery of patient.Surgeries" disableRipple="true" removable="true"
              (removed)="removeSurgery(Surgery)">
              {{patientFormat.displaySurgery(Surgery)}}
              <mat-icon matChipRemove>cancel</mat-icon>
            </mat-chip>
            <input [matChipInputFor]="surgeriesList" placeholder="Χειρουργεία..." matChipInputAddOnBlur="true"
              [matChipInputSeparatorKeyCodes]="[13,188]" (matChipInputTokenEnd)="addSurgeries($event)">
          </mat-chip-list>
        </mat-form-field>
        <button type="button" mat-icon-button (click)="openSurgeryEditDialog()">
          <mat-icon>add</mat-icon>
        </button>
      </div>

      <div class="row">
        <mat-form-field class="chipLine">
          <mat-chip-list #drugsList aria-label="Φάρμακα" ngController="patientForm">
            <mat-chip *ngFor="let Drug of patient.Drugs" disableRipple="true" removable="true"
              (removed)="removeDrug(Drug)" color="accent" selected>
              {{patientFormat.displayDrug(Drug)}}
              <mat-icon matChipRemove>cancel</mat-icon>
            </mat-chip>
            <input [matChipInputFor]="drugsList" placeholder="Φάρμακα..." matChipInputAddOnBlur="true"
              [matChipInputSeparatorKeyCodes]="[13,188]" (matChipInputTokenEnd)="addDrugs($event)">
          </mat-chip-list>
        </mat-form-field>
        <button type="button" mat-icon-button (click)="openDrugEditDialog()">
          <mat-icon>add</mat-icon>
        </button>
      </div>

      <div class="row">
        <mat-form-field class="chipLine">
          <mat-chip-list #reminderList aria-label="Υπενθυμίσεις" ngController="patientForm">
            <mat-chip *ngFor="let Reminder of patient.Reminders" disableRipple="true" removable="true"
              (removed)="removeReminder(Reminder)">
              {{patientFormat.displayReminder(Reminder)}}
              <mat-icon matChipRemove>cancel</mat-icon>
            </mat-chip>
            <input [matChipInputFor]="reminderList" placeholder="Υπενθυμίσεις..." matChipInputAddOnBlur="true"
              [matChipInputSeparatorKeyCodes]="[13,188]" (matChipInputTokenEnd)="addReminders($event)">
          </mat-chip-list>
        </mat-form-field>
        <button type="button" mat-icon-button (click)="openReminderEditDialog()">
          <mat-icon>add</mat-icon>
        </button>
      </div>

      <quill-editor (onEditorCreated)="notesEditorCreated($event)" ngController="patientForm" placeholder="Σημειώσεις"
        [(ngModel)]="patient.Notes" name="notes" format="json">
        <div quill-editor-toolbar>
          <span class="ql-formats">
            <select class="ql-font">
              <option selected></option>
              <option value="serif"></option>
              <option value="monospace"></option>
            </select>
            <select class="ql-size">
              <option value="small"></option>
              <option selected></option>
              <option value="large"></option>
              <option value="huge"></option>
            </select>
          </span>
          <span class="ql-formats">
            <button class="ql-bold"></button>
            <button class="ql-italic"></button>
            <button class="ql-underline"></button>
            <button class="ql-strike"></button>
          </span>
          <span class="ql-formats">
            <select class="ql-color"></select>
            <select class="ql-background"></select>
          </span>
          <span class="ql-formats">
            <button class="ql-list" value="ordered"></button>
            <button class="ql-list" value="bullet"></button>
            <select class="ql-align">
              <option selected></option>
              <option value="center"></option>
              <option value="right"></option>
              <option value="justify"></option>
            </select>
          </span>
          <span class="ql-formats">
            <button class="ql-link"></button>
            <button class="ql-image"></button>
          </span>
        </div>
      </quill-editor>
    </mat-card>


    <mat-card-actions align="end">
      <button *ngIf="patient.LastUpdate" mat-button color="warn" type="button" (click)="deletePatient()">
        <mat-icon>delete_forever</mat-icon>Διαγραφή
      </button>
      <span class="stretch"></span>
      <button *ngIf="!patient.LastUpdate" mat-button color="accent" type="button" [routerLink]="['/patients']">
        Απόρριψη
      </button>
      <button *ngIf="patient.LastUpdate" mat-button color="accent" type="button"
        [routerLink]="['/patient/' + patient.id]">
        Απόρριψη
      </button>
      <button mat-raised-button color="primary" type="submit" [disabled]="patientForm.invalid || patientForm.pristine">
        <mat-icon>save</mat-icon>Αποθήκευση
      </button>
    </mat-card-actions>
  </mat-card>
</form>