<mat-tab-group>
  <mat-tab label="Σύνδεση">
    <form class="formContainer" (submit)=login() #loginForm="ngForm">
      <div class="row">
        <span class="stretch"></span>
        <mat-form-field class="userName">
          <input matInput autofocus placeholder="Όνομα" name="user" autocomplete="username" type="text"
            [(ngModel)]="user" required minlength="6">
          <mat-error>
            Το όνομα χρήστη πρέπει να έχει τουλάχιστον 6 χαρακτήρες.
          </mat-error>
        </mat-form-field>
        <span class="stretch"></span>
      </div>
      <div class="row">
        <span class="stretch"></span>
        <mat-form-field class="password">
          <input matInput autofocus placeholder="Κωδικός" name="password" autocomplete="current-password" type="password"
            [(ngModel)]="pass" required >
          <mat-error>
            Παρακαλώ γράψτε τον κωδικό σας.
          </mat-error>
          </mat-form-field>
        <span class="stretch"></span>
      </div>
      <div class="row">
        <span class="stretch"></span>
        <span class="stretch row">
          <span class="stretch"></span>
          <mat-spinner diameter=25 *ngIf="!loginForm.enabled"></mat-spinner>
          <button *ngIf="loginForm.enabled" type="submit" mat-button [disabled]="loginForm.invalid || loginForm.pristine">
            Σύνδεση...
          </button>
        </span>
        <span class="stretch"></span>
      </div>
    </form>
  </mat-tab>
  <mat-tab label="Εγγραφή">
    <form class="formContainer" appPasswordValidator (submit)=signup() #signupForm="ngForm">
      <div class="row">
        <span class="stretch"></span>
        <h2>Επιλέξτε όνομα και κωδικό για να εγγραφείτε στην υπηρεσία...</h2>
        <span class="stretch"></span>
      </div>
      <div class="row">
        <span class="stretch"></span>
        <mat-form-field class="userName">
          <input matInput autofocus placeholder="Όνομα" name="username" autocomplete="username" type="text"
            [(ngModel)]="user" required minlength="6">
          <mat-error>
          </mat-error>
        </mat-form-field>
        <span class="stretch"></span>
      </div>
      <div class="row">
        <span class="stretch"></span>
        <mat-form-field class="password">
          <input matInput autofocus placeholder="Κωδικός" name="password" autocomplete="new-password" type="password"
            [(ngModel)]="pass" required pattern="(?=.*[0-9])(?=.*[a-zα-ωάέήίόύώ])(?=.*[A-ZΑ-Ω])\S{8,}">
          <mat-error>
            Ο κωδικός πρέπει να έχει τουλάχιστον 8 χαρακτήρες, συμπεριλαμβανομένων κεφαλαίων, μικρών και αριθμούς.
          </mat-error>
        </mat-form-field>
        <span class="stretch"></span>
      </div>
      <div class="row">
        <span class="stretch"></span>
        <mat-form-field class="password">
          <input matInput autofocus placeholder="Επαλήθευση Κωδικού" name="passverify" autocomplete="new-password" type="password"
            [(ngModel)]="passverify" required>
            <mat-error>
              Η επαλήθευση κωδικού δεν είναι ίδια με τον κωδικό.
            </mat-error>
          </mat-form-field>
        <span class="stretch"></span>
      </div>
      <div class="row">
        <span class="stretch"></span>
        <span class="stretch row">
          <span class="stretch"></span>
          <button type="submit" mat-button [disabled]="signupForm.invalid || signupForm.pristine">Εγγραφή...</button>
        </span>
        <span class="stretch"></span>
      </div>
    </form>
  </mat-tab>
</mat-tab-group>