<mat-tab-group>
  <mat-tab label="Σύνδεση">
    <form class="formContainer" (submit)=login()>
      <div class="row">
        <span class="stretch"></span>
        <mat-form-field class="userName">
          <input matInput autofocus placeholder="Όνομα" name="user" autocomplete="username" type="text"
            [(ngModel)]="user" required>
        </mat-form-field>
        <span class="stretch"></span>
      </div>
      <div class="row">
        <span class="stretch"></span>
        <mat-form-field class="password">
          <input matInput autofocus placeholder="Κωδικός" name="password" autocomplete="current-password" type="password"
            [(ngModel)]="pass" required>
        </mat-form-field>
        <span class="stretch"></span>
      </div>
      <div class="row">
        <span class="stretch"></span>
        <span class="stretch row">
          <span class="stretch"></span>
          <button type="submit" mat-button>Σύνδεση...</button>
        </span>
        <span class="stretch"></span>
      </div>
    </form>
  </mat-tab>
  <mat-tab label="Εγγραφή">
    <form class="formContainer" (submit)=signup()>
      <div class="row">
        <span class="stretch"></span>
        <h2>Επιλέξτε όνομα και κωδικό για να εγγραφείτε στην υπηρεσία...</h2>
        <span class="stretch"></span>
      </div>
      <div class="row">
        <span class="stretch"></span>
        <mat-form-field class="userName">
          <input matInput autofocus placeholder="Όνομα" name="username" autocomplete="username" type="text"
            [(ngModel)]="user" required minlength="6" >
        </mat-form-field>
        <span class="stretch"></span>
      </div>
      <div class="row">
        <span class="stretch"></span>
        <mat-form-field class="password">
          <input matInput autofocus placeholder="Κωδικός" name="password" autocomplete="new-password" type="password"
            [(ngModel)]="pass" required minlength="6" pattern="(?=.*[0-9])(?=.*[a-zα-ωάέήίόύώ])(?=.*[A-ZΑ-Ω])\S{8,}">
        </mat-form-field>
        <span class="stretch"></span>
      </div>
      <div class="row">
        <span class="stretch"></span>
        <mat-form-field class="password">
          <input matInput autofocus placeholder="Επαλήθευση Κωδικού" name="passverify" autocomplete="new-password" type="password"
            [(ngModel)]="passverify" required minlength="6" appPasswordValidator >
        </mat-form-field>
        <span class="stretch"></span>
      </div>
      <div class="row">
        <span class="stretch"></span>
        <span class="stretch row">
          <span class="stretch"></span>
          <button type="submit" mat-button>Εγγραφή...</button>
        </span>
        <span class="stretch"></span>
      </div>
    </form>
  </mat-tab>
</mat-tab-group>