<h1 mat-dialog-title>Προσθήκη Χειρουργείου...</h1>
<div mat-dialog-content>
  <form class="formContainer" #surgeryForm="ngForm" id="form" (submit)="Submit()">
    <div class="row">
      <mat-form-field class="surgeryName">
        <input matInput ngController="surgeryForm" placeholder="Χειρουργείο" type="text" [(ngModel)]="surgeryName"
          name="surgery" #surgery="ngModel" required cdkFocusInitial/>
        <mat-error>
          Παρακαλώ προσθέστε τον τύπο του χειρουργείου.
        </mat-error>
      </mat-form-field>
      <mat-form-field class="surgeryDate">
        <input matInput ngController="surgeryForm" [matDatepicker]="picker" [max]="Today()"
          placeholder="Ημερομηνία Χειρουργείου" [(ngModel)]="surgeryDate" name="surgeryDate" #surgerydate="ngModel" />
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
        <mat-error>
          Παρακαλώ ελέγξτε την ημερομηνία.
        </mat-error>
      </mat-form-field>
    </div>
  </form></div>
<div mat-dialog-actions>
  <button mat-button mat-dialog-close>Απόρριψη</button>
  <span class="stretch"></span>
  <button mat-button color="warn" type="submit" form="form" [disabled]="surgeryForm.invalid">Αποθήκευση</button>
</div>




