<mat-card>
  <form class="formContainer" #patientForm="ngForm" (ngSubmit)="onSubmit()" >
    <div class="row">
      <mat-form-field class="lastName">
        <input matInput type="text" placeholder="Επώνυμο" [(ngModel)]="patient.LastName" name="lastName" required />
      </mat-form-field>
      <mat-form-field class="firstName">
        <input matInput type="text" placeholder="Όνομα" [(ngModel)]="patient.FirstName" name="firstName" />
      </mat-form-field>
      <mat-radio-group aria-label="Φύλο" class="sex" [(ngModel)]="patient.Sex" name="sex" >
          <mat-radio-button [value]=false>♀Θήλυ</mat-radio-button>
          <mat-radio-button [value]=true>♂Άρρεν</mat-radio-button>
      </mat-radio-group>
    </div>
    <div class="row">
      <mat-form-field class="amka">
        <input matInput placeholder="Α.Μ.Κ.Α." type="tel" [(ngModel)]="patient.Amka" name="amka" #amka="ngModel" appAmkaValidator>
        <mat-error *ngIf="amka.hasError('notValidAmka')">
          Παρακαλώ ελέγξτε τον Α.Μ.Κ.Α.
        </mat-error>
      </mat-form-field>
      <mat-form-field class="birthDate">
        <input matInput [matDatepicker]="picker" placeholder="Ημερομηνία Γέννησης" [(ngModel)]="patient.Birthdate" name="birthDate" >
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
    </div>
    <div class="row">
      <mat-form-field class="telephone">
        <input matInput placeholder="Τηλέφωνο" type="tel" [(ngModel)]="patient.Telephone" name="telephone" #telephone="ngModel" appTelephoneValidator>
        <mat-error *ngIf="telephone.hasError('notValidTelephone')">
          Παρακαλώ ελέγξτε τον αριθμό τηλεφώνου
        </mat-error>
      </mat-form-field>
      <mat-form-field class="mobile">
        <input matInput placeholder="Κινητό" type="tel" [(ngModel)]="patient.Mobile" name="mobile" #mobile="ngModel" appMobileValidator>
        <mat-error *ngIf="mobile.hasError('notValidMobile')">
          Παρακαλώ ελέγξτε τον αριθμό κινητού
        </mat-error>
      </mat-form-field>
    </div>
    <div class="row">
      <mat-form-field class="address">
        <textarea matInput placeholder="Διεύθυνση" [(ngModel)]="patient.Address" name="address" ></textarea>
      </mat-form-field>
    </div>
    <mat-card-actions align="end">
      <a mat-button color="warn" [routerLink]="['/patients']" >Απόρριψη</a>
      <button mat-raised-button color="primary" type="submit" >Αποθήκευση</button>
    </mat-card-actions>
  </form>
</mat-card>