<mat-menu #sortMenu="matMenu">
  <button mat-menu-item (click)="sortBy('FirstName')">Όνομα</button>
  <button mat-menu-item (click)="sortBy('LastName')">Επίθετο</button>
  <button mat-menu-item (click)="sortBy('Birthdate')">Ηλικία</button>
  <button mat-menu-item (click)="sortBy('LastVisit')">Επίσκεψη</button>
  <mat-button-toggle-group mat-menu-item #group="matButtonToggleGroup" value="normal">
    <mat-button-toggle value="normal" (click)="sortOrder('normal')">
      <mat-icon class="mat-menu-icon-centered">keyboard_arrow_down</mat-icon>
    </mat-button-toggle>
    <mat-button-toggle value="inverse"(click)="sortOrder('inverse')">
      <mat-icon class="mat-menu-icon-centered">keyboard_arrow_up</mat-icon>
    </mat-button-toggle>
  </mat-button-toggle-group>
</mat-menu>


<div class="scroll">    
  <span style="display: flex">
    <mat-form-field id="search-field" class="fill-center">
      <input matInput type="search" placeholder="Αναζήτηση..." (input)="search($event.target.value)">
      <button mat-button matSuffix mat-icon-button>
        <mat-icon>search</mat-icon>
      </button>
    </mat-form-field>
    <button mat-button [matMenuTriggerFor]="sortMenu"><mat-icon>sort</mat-icon></button>
  </span>

  <div>
    <mat-nav-list id="patients-list">
      <a href="{{patient.id}}" mat-list-item *ngFor="let patient of patients.filteredPatients$ | async">
        {{displayName(patient.patient)}} {{age(patient.patient)}}
        <span class="fill-center"></span>
        <a *ngIf="patient.patient.Telephone" mat-icon-button href="tel:{{patient.patient.Telephone}}"><mat-icon>phone</mat-icon></a>
        <a *ngIf="patient.patient.Mobile" mat-icon-button href="tel:{{patient.patient.Mobile}}"><mat-icon>phone_android</mat-icon></a>
        <a *ngIf="patient.patient.Address" mat-icon-button href="https://www.google.com/maps/search/?api=1&query={{encodeURI(patient.patient.Address)}}"><mat-icon>home</mat-icon></a>
      </a>
    </mat-nav-list>
  </div>
</div>

<button mat-fab class="fab-bottom-right">
  <mat-icon>add</mat-icon>
</button>