<div class="box">
  <mat-toolbar class="row header">
    <a mat-button routerLink="/">
      <h2>
        <mat-icon svgIcon="favicon">Στηθοσκόπιο</mat-icon>Ασθενείς
      </h2>
    </a>
    <span class="stretch"></span>

    <button mat-icon-button [matMenuTriggerFor]="settingsMenu"><mat-icon>settings</mat-icon></button>
  </mat-toolbar>

  <div [@routeAnimations]="prepareRoute(outlet)" class="row content">
    <router-outlet #outlet="outlet" class=""></router-outlet>
  </div>
</div>

<mat-menu #settingsMenu="matMenu">
  <button mat-menu-item [routerLink]="['/login']">Σύνδεση...</button>
</mat-menu>
